TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
ACCESS_TOKEN_EXPIRES_IN=30 days
RESEND_API_KEY=re_123456789
MAIL_FROM=
FRONTEND_RESET_PASSWORD_URL=http://localhost:5173/reset-password
PASSWORD_RESET_TOKEN_EXPIRES_MINUTES=60
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET_USER_IMAGES=upperglam-user-images
MINIO_REGION=us-east-1
